
<div class="home-page">


  <nav class="navbar">
    <div class="navbar-brand"> 
      <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">School-Management</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/my-dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Dashboard</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/services" class="nav-link">Services</a>
      </li> -->
      <li class="nav-item">
        <a href="/contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
  <H1>Welcome to School-Management</H1>
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <label for="username">Username:</label>
    <input type="text" id="username"  [(ngModel)]="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  

</div>






  








   
